<script src="/js/login.js"></script>
<div class="row w-100 h-100 m-0 justify-content-center align-items-center">
    <div class="col-12 col-sm-8 col-md-4 border text-center p-4">
        <form id="login_form">
            <input type="text" id="email_mobile" placeholder="Email/Phone" class="form-control mt-4">
            <p class="text-left px-2"><small id="login_cred_error" class="text-danger text-sm mt-2 d-none"></small></p>
            <input type="password" id="login_password" placeholder="password" class="form-control mt-4">
            <p class="text-left px-2"><small id="login_pass_error" class="text-danger text-sm mt-2 d-none"></small></p>
            <button type="submit" id="user_login" class="btn btn-primary col-12 col-sm-10 col-md-4 mt-4">Login</button>
        </form>
    </div>
</div>

<input class="d-none" id="page_data" type="text" value="{{data}}">

<div class="modal fade" id="otp_popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
                    <button type="button" class="close border-0" data-dismiss="modal" aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <form id="otp_form" onsubmit="verifyOTP(event)">
                <div class="modal-body">
                    <h6 id="email_otp_message" class="text-center"></h6>
                    <div class="p-3 d-flex justify-content-center">
                        <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control input-otp" name="" id="otp_dgt_1">
                        <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control input-otp mx-4" name="" id="otp_dgt_2">
                        <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control input-otp" name="" id="otp_dgt_3">
                        <input type="text" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control input-otp ml-4" name="" id="otp_dgt_4">
                    </div>
                    <p class="text-left px-2"><small id="login_otp_error"
                            class="text-danger text-sm mt-2 d-none"></small></p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-success col-5 text-center">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>