<div class="main-header bg-secondary">
    <a href="/">
        <i class="text-light fas fa-arrow-left fa-2x p-3"></i>
    </a>
    <h1 class="h1 text-white text-center mb-0 w-100">{{title}}</h1>
</div>
<div class="px-4 py-5 mt-5 song-bg">
    <ul class="my-4 px-0 col-12 tamil-font">
        {{#each songLyrics}}
        <li class="h2 list-style-none text-center">
            {{this}}
        </li>
        {{/each}}
    </ul>
</div>