<script src="/js/songs.js"></script>
<div class="main-header bg-secondary">
    <a href="/">
        <i class="text-light fas fa-arrow-left fs-1pt5 p-3"></i>
    </a>
    <h1 class="h6 d-block d-sm-block d-md-none text-white mb-0 ml-4 w-100">{{title}}</h1>
    <h3 class="h3 d-none d-sm-none d-md-block text-white mb-0 ml-4 w-100">{{title}}</h3>
</div>
<div class="px-2 px-sm-3 px-md-4 pt-1 pt-sm-3 pt-md-3 pb-5 song-bg">
    <div class="row w-100 justify-content-between mx-0 align-items-start mt-4 mb-4">
        <div class="col-12 col-sm-6 col-md-5 mt-3 mt-sm-0 mt-md-0 position-relative">
            <form onsubmit="goToSong()">
                <input type="text" class="form-control" placeholder="பாடல் எண்" name="" id="song_number">
                <button type="submit" class="btn" id="search_icon">
                    <i class="text-dark fas fa-search"></i>
                </button>
                <p id="error_song_number" class="px-1 text-danger d-none"></p>
            </form>
        </div>

        <div class="col-12 col-sm-6 col-md-5 mt-5 mt-sm-0 mt-md-0 align-self-center">
            <div class="row w-100 mx-0 mt-2 align-items-center">
                <input value="1.5" type="range" min="1" max="3" step="0.5" onchange="setFontSize()">
                <p id="font_size" class="d-none d-sm-none d-md-block pl-md-3 mt-md-3 mb-0 text-dark"
                    style="white-space: nowrap;">font-size: 1.5 rem</p>
                <p id="font_size" class="d-block d-sm-block d-md-none pl-0 pl-sm-0 mt-3 mt-sm-3 mb-0 text-dark"
                    style="white-space: nowrap;">font-size: 1.5 rem</p>
            </div>
        </div>
    </div>
    <ul class="border-top border-dark pt-4 my-4 px-0 col-12 tamil-font">
        {{#each songLyrics}}
        <li class="h2 list-style-none text-center">
            {{this}}
        </li>
        {{/each}}
    </ul>
</div>