@font-face {
  font-family: "Tamil Bible";
  src: url("/fonts/tamil.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

#role_selector select option {
  color: #333;
  position: relative;
  top: 5px; }

/*==================================================
 remove the original arrow in select option dropdown
 ==================================================*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; }

select.input-lg {
  height: 38px !important;
  line-height: 25px !important; }

select + i.fas {
  float: right;
  margin-top: -28px;
  margin-right: 8px;
  pointer-events: none;
  background-color: #fff;
  padding-right: 5px; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

.input-otp {
  max-width: 50px;
  max-height: 50px; }

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.7rem;
  z-index: 1200; }

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  z-index: 9999;
  align-items: center;
  background: rgba(255, 255, 255, 0.5); }

.spinner {
  margin: 0px auto;
  text-align: center; }

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #1d2124;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both; }

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

a:hover {
  color: #0056b3;
  text-decoration: none !important; }

.list-style-none {
  list-style: none !important; }

.tamil-font {
  font-family: Tamil Bible !important; }

button#search_icon {
  position: absolute;
  top: 2px;
  right: 17px;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 6px;
  height: 34px;
  background-color: #c2c7cc; }

.song-bg {
  background-image: url("/img/song-bg1.gif");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 70px;
  height: auto;
  min-height: calc(100% - 70px); }

.list-bg {
  background-image: url("/img/list-bg.gif");
  background-repeat: no-repeat;
  background-size: cover; }

.rangeslider__fill {
  background: #838c93 !important;
  position: absolute; }

.rangeslider__ruler {
  cursor: pointer;
  font-size: 0.7em;
  margin: 15px 0px 0 -1px;
  top: 100%;
  text-align: justify;
  position: absolute !important;
  width: 100% !important;
  top: -40px !important; }

.rangeslider__ruler:after {
  content: "";
  display: inline-block;
  width: 100%; }

.rangeslider--horizontal .rangeslider__handle {
  top: -3px !important;
  touch-action: pan-y;
  -ms-touch-action: pan-y; }

.rangeslider__handle {
  width: 25px !important;
  height: 25px !important; }
